/*@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,700,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);*/

body{
	background-color: #F8F6F3;
}

.header{
	font-family: 'Fjalla One', sans-serif;
}

.sub-header,.form-element,p.header-section,.notice,.popover-title,.popover-content,.random-check,#okay,
#view,.modal-title{
	font-family: 'Lato', sans-serif;
}

.header{
	font-size: 1.4em;
}

.header,p.header-section{
	color: #598DBB;
}

.sub-header{
	color: #446180;
	letter-spacing: 1px;
	font-size: 12px;
}

.header-section{
	background: #F3F3F3;
	padding-top: .2em;
	padding-bottom: .4em;
	border: 1px solid #D8D8D8;
}

.header-section,.main-section{
	max-width: 600px;
	margin: 10px auto 0;
}

@media(max-width:767px){
	.header-section,.main-section{
	    max-width:90%;
    }
}

.form-element{
	border-radius:2px;
}

.form-element{
	padding: 4px 8px;
	font-size: 11px;
	line-height: 1.42857143;
	color: #484747;
	height:28px;
	letter-spacing: 1px;
}

textarea.form-element{
	resize:none;
	margin-bottom:10px;
}

.form-control:focus {
    border-color: #4C4848;
}

#output{
	margin-top: 10px;
	background: #FFFCFC;
	min-height:20px;
	padding: 6px;
	border: 1px solid #E6E6E6;
	/*max-height:200px;*/
	overflow:auto;
	cursor:crosshair;
	z-index:1000;
	resize:both;
}

select>option{
    font-size: 1.2em;
}

.settings,p.header-section,#output{
	margin-bottom: 10px;
}

p.header-section{
	text-align: center;
	font-size: 11px;
	font-weight: 600;
}

#color{
	height: 28px;
	width:100%;
}

.code{
	margin: 10px auto 70px;
	background: #FBFBFB;
	border: 1px solid #D6D6D6;
}

code{
	color:black;
	background-color: transparent;
}

.css-code-section,.css-code{
    padding:1em;
    margin: 9px 0 0 0;
    border-radius: 2px;
}

.css-code-section{
	background: #FFFFF4;
	border: 1px solid #D2D2D2;
	min-height: 350px;
}

@media(min-width:992px){
	
	.code{
		max-width: 85%;
	}
}

@media(min-width:768px) and(max-width:991px){
	
	.code{
		max-width: 95%;
	}
}

.icon-left{
	margin-right: 5px;
    position: relative;
    top: 1px;
}

.css-code-value{
	color: #C92626;
}

p.property{
	margin-bottom:5px;
}

.notice{
	margin-top: 10px;
	border-radius: 1px;
	background-color: #F0F2F3;
	border: 1px solid #CCCCCC;
	font-size: 1em;
	letter-spacing: 1px;
	min-height:50px;
}

.mover{
	display:none;
}

.glyphicon-move{
	color:#787272;
	font-size:12px;
}

#reset,#copy,#random,#add{
	position:relative;
	top: -20px;
}

#view{
	margin-top:15px;
}

#reset,#copy,#random,#add,#view,#okay{
	padding: 4px 10px;
	font-size: 12px;
	background: #598DBB;
    color: #FFFFFF;
	border-radius: 2px;
	/*border: 1px solid #BFBCBC;*/
	min-width: 79px;
	margin-bottom: 10px;
	margin-left: 8px;
}

@media(max-width:767px){
	#reset,#copy,#random{
		margin-top: 5px;
	}
}
.popover {
    border: 1px solid #B5B5B5;
    border-radius:2px;
    box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}

.popover-title{
    text-align:center;
    font-size: 14px;
    background: #FFF9ED;
}
  
.popover-content{
	color: #000000;
	padding: 12px;
	font-size: 12px;
	background: #fffcfc;
}

.input-group-addon>span{
	min-height: 12px;
	min-width: 30px;
	border-radius: 2px;
}

.random-check{
	background-color: #FCFAF8;
	border: 1px solid #DCDCDC;
	color: #67696F;
	font-size: 13px;
	border-radius: 2px;
}

.checkbox-inline-random+.checkbox-inline-random{
	margin-left:0;
	margin-right:10px; 
}

.checkbox-inline{
	margin-right:10px;
	margin-left:0;
}

.checkbox label{
	font-size: 11px;
	letter-spacing: 1px;
	word-wrap: break-word;
}

.checkbox-area{
	background: #FAFAFA;
	border: 1px solid #CECECE;
}

@media(min-width:768px){
	.random-check{
        padding: 10px;
	}

	.checkbox-area{
		max-width: 93%;
        margin: auto;
	}
}

.list-inline-check{
	max-width: 200px;
	margin: 0px auto -5px;
	text-align: center;
}

input[type=checkbox], input[type=radio] {
    margin: 2px 0 0;
}

.checkbox{
	margin-bottom:8px;
}

.button-list{
	margin-bottom: -15px;
	margin-left: 0px;
}

.modal-content{
    background-color: #FFFAF4;
    border-radius: 2px;
    box-shadow: none;
    overflow:auto;
}

.modal-body{
	max-height:500px;
	overflow:auto;
}

.saved-styles-div>p{
	margin-bottom:0;
}




